@media only screen and (max-width: 1199px){
    /* header */
    nav ul li a {
        color: #fff;
        font-size: 13px;
        padding: 10px 9px;
        display: inline-block;
    }
    .header_btn {
        background: #62E6AC;
        border-radius: 0;
        padding: 12px 7px;
        margin-left: -7px;
        transition: all .5s;
    }
    /* banner */
    .carousel-indicators li {
        height: 1px;
        margin: 0;
        width: 37px;
    }
    ol.carousel-indicators {
        left: -734px;
        bottom: 90%;
    }
}
@media only screen and (max-width: 991px){
    /* hader */
    .header {
        padding: 0 24px;
    }
    .header_btn{
        margin-left: 0;
    }
    #logo{padding:0px;}
    input[type=checkbox] {position: absolute; top: -9999px; left: -9999px; background:none;}
    input[type=checkbox]:fous{background:none;}
    label { display:inline-block; cursor:pointer; position: absolute;
        right: 0;
        top: 40%;}
    input[type=checkbox]:checked ~ nav {display:block;}
    
    nav{display:none;
        width: 100%;
        position: absolute;
        right: 0;
        text-align: center;
        top: 82px;
        background-color: #62E6AC;
        padding: 0px;
        z-index: 999;
    }
    nav ul{width:100%;}
    nav ul li{float:none; padding:0px; width:100%; display:table;}
    nav ul li a{color:#FFF; font-size:15px; padding:10px 20px; display:block; border-bottom: 1px solid rgba(225,225,225,0.5);}
    nav ul li a i{color:#fde428; padding-right:13px;}
   /* banner */
   .banner_start {
    padding-top: 150px;
   }
   ol.carousel-indicators {
    bottom:0%;
    left: -450px;
}
/* banner-end */
.top_info h2 {
    font-size: 20px;}
    .top_info p {
        color: #999999;
        font-size: 16px;
    }
    /* footer */
    .rom_inner {
        max-width: 100%;
        margin-top: 30px;
    }
     .loction_img{
         display: none;
     }
}
@media only screen and (max-width: 767px){
    .banner_info h6 {
        font-size: 16px;
        margin-bottom: 15px;
        color: #fff;
        margin-left: 0px;
        opacity: 0.7;
    }
    .banner_info h2 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .info_lefwt {
        margin-top: 30px;
        text-align: left;
    }
    .banner_info {
        max-width: 650px;
        padding: 0 20px 100px;}
        ol.carousel-indicators {
            bottom: 0%;
            left: -350px;}
            /* banner-end */
            .main-img{
                height: 321px;
             }
             /* footer */
             .bg_img {
                position: relative;
                padding-bottom: 0px;
            }
}
@media only screen and (max-width: 567px){
    ol.carousel-indicators {
        bottom: 0%;
        left: -268px;
    }
    /* banner-end */
    .top_info p {
        color: #999999;
        font-size: 14px;
    }
    .section {
        padding: 50px 0;
    }
    .info_lefwt {
        margin-top: 30px;
        text-align: left;
    }
}
@media only screen and (max-width: 480px){
    ol.carousel-indicators {
        bottom: 0%;
        left: -100px;
    }

}
